<strong>Olá, {{ provider }}</strong>
<p>Lamentamos informá-lo de que houve um cancelamento em um de seus agendamentos. Confira os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ user }} <br/>
  <strong>Data/Hora: </strong> {{ date }} <br/>
  <br/>
  <small>
    O horário está novamente disponível para novos agendamentos.
  </small>
</p>